body {
    background-color: pink;
}

div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:aqua;
  }
  
  div.nav li {
    float: left;
  }
  
  div.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  div.nav li a:hover:not(.active) {
    background-color:pink;
  }
  
  .active {
    background-color: pink;
  }

.evszak {
    margin: 1%;
    float: left;
    transition: .8s;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.evszak img {
    border: 3px solid aqua;
    width: 200px;
    height: 200px;

}

div.evszak:hover {
    transform: scale(1.1);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    color: black;
    text-align: center;
  }